.jumbotron-fluid {
    background: color #222233;
    color: #c3d5db;
    font-family: arial;
    height: 150px;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-family: 'Cinzel', serif;
}

#background {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

#buttons {
    text-align: center;
}

/* buttons*/

.Skeleton {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

.Boat {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

.Aye {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

.Travel {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

.Sunday {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

.Birthday {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

.Laugh {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

.Smile {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

.Explore {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}

.Sun {
    color: #8bbca7;
    font-family: 'Noto Serif JP', sans-serif;
}





/* color schemes!
#236a8b
#799fba
#8bbca7
#131925
#c3d5db 

/*
font-family: 'Noto Serif JP', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Alegreya', serif;
font-family: 'Limelight', cursive;