.jumbotron-fluid {
    background-color:#05375f;
    color: white;
    font-family: arial;
    height: 150px;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 20px;
    padding: 40px;
}

