.jumbotron-fluid {
    background: color #222233;
    color: #c3d5db;
    font-family: arial;
    height: 150px;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-family: 'Cinzel', serif;
}

#background {
    color: #8bbca7;
}








/* color schemes!
#236a8b
#799fba
#8bbca7
#131925
#c3d5db 

/*
font-family: 'Noto Serif JP', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Alegreya', serif;
font-family: 'Limelight', cursive;